root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[{*.py,fontship.in}]
indent_style = space
indent_size = 4

[makefile*]
indent_style = tab
indent_size = 4
