babelfont>=2.0.2
cffsubr>=0.2.8
defcon>=0.8.1
font-v>=1.0.5
fontmake>=2.4.0
fonttools[lxml,ufo,unicode,woff]>=4.22.0
gftools>=0.7.1
pcpp>=1.22.0
psautohint>=2.3.0
git+https://github.com/alif-type/sfdLib.git@v1.2.1#egg=sfdLib
sfdnormalize>=1.0.0
skia-pathops>=0.6.0
ufo2ft[cffsubr]>=2.21.0
ufoLib2>=0.11.1
ufonormalizer>=0.5.3
vttLib>=0.11.0
