babelfont==0.0.2
cffsubr==0.2.7
defcon==0.7.2
font-v==1.0.3
fontmake==2.2.1
fonttools[lxml,ufo,unicode,woff]==4.16.1
gftools==0.4.4
pcpp==1.21.0
psautohint==2.1.1
git+git://github.com/alif-type/sfdLib.git@v1.0.6#egg=sfdLib
sfdnormalize==0.3.0
skia-pathops==0.5.1
ufo2ft[cffsubr]==2.16.0
ufoLib2==0.8.0
ufonormalizer==0.4.2
vttLib==0.9.1.post2
