name: Cargo Bloat

on: [ "pull_request" ]

jobs:

  cargo_bloat:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
      - name: Cache Rust
        uses: Swatinem/rust-cache@v1
      - name: Run cargo bloat
        uses: orf/cargo-bloat-action@v1
        with:
          token: ${{ github.token }}
